html,
body {
  @apply font-default transition ease-in-out antialiased p-0 m-0 selection:bg-pink-50 selection:text-pink-400;
}

body {
  @apply bg-neutral-900 transition-all;
}

a {
  color: inherit;
  @apply no-underline;
}
a,
h1,
h2,
p {
  @apply antialiased;
}
datalist {
  @apply sticky border-2 border-opacity-50 border-neutral-100 rounded-lg z-50 transition-all ease-linear max-h-80;
}
datalist:focus {
  @apply hidden transition-all ease-linear;
}
datalist option {
  @apply text-xs p-4 bg-white cursor-pointer transition-all ease-linear;
}

datalist option:hover,
datalist option:focus {
  @apply bg-neutral-50 rounded-lg outline-none border-none transition-all ease-linear;
}
* {
  @apply box-border;
}
::-webkit-scrollbar {
  @apply hidden;
}
::-webkit-scrollbar-button {
  @apply hidden;
}
::-webkit-scrollbar-track {
  @apply hidden;
}
::-webkit-scrollbar-track-piece {
  @apply hidden;
}
::-webkit-scrollbar-thumb {
  @apply hidden;
}
::-webkit-scrollbar-corner {
  @apply hidden;
}
::-webkit-resizer {
  display: none;
}
.table {
  border-spacing: 0 15px;
}

i {
  font-size: 1rem !important;
}

.table tr {
  @apply rounded-3xl;
}

tr td:nth-child(n + 5),
tr th:nth-child(n + 5) {
  border-radius: 0 0.625rem 0.625rem 0;
}

tr td:nth-child(1),
tr th:nth-child(1) {
  border-radius: 0.625rem 0 0 0.625rem;
}
ul {
  @apply flex justify-center items-center space-x-1;
}
.selected {
  @apply px-4 py-2 rounded-full bg-pink-50 text-pink-700 hover:bg-pink-100 transition;
}
li {
  @apply px-4 py-2 rounded-full bg-neutral-200 text-neutral-600 hover:bg-neutral-300 transition;
}
.previous {
  @apply px-2 py-2 rounded-full bg-pink-50 text-pink-700 hover:bg-pink-100 transition;
}
.disabled {
  @apply px-2 py-2 rounded-full bg-neutral-200 text-neutral-600 hover:bg-neutral-300 transition;
}
.next {
  @apply px-2 py-2 rounded-full bg-pink-50 text-pink-700 hover:bg-pink-100 transition;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
